<h2>Change Password</h2>
<form method="post" id="changePassword" action="/code/auth/update" style="margin-top: 20px;">
<table width="470px">
<tr>
  <td valign="top">
    <label for="password">Password </label>
  </td>
  <td>
    <input type="password" id="source" name="password">
  </td>
</tr>
<tr>
  <td valign="top">
    <label for="password">Retype Password </label>
  </td>
  <td>
    <input type="password" id="retype" ng-keyup="confirmPassword ()">
  </td>
</tr>
<tr>
  <td>
  </td>
  <td>
    <div id="message"></div>
  </td>
</tr>
<br>
<tr>
  <td></td>
  <td>
    <button ng-click="changePassword ()">Change</button>
  </td>
</tr>
</form>