<h2>Login</h2>
<form method="post" id="login" action="" style="margin-top: 20px;">
<table width="470px">
<tr>
 <td valign="top">
  <label for="adminId">AdminId </label>
 </td>
 <td>
  <input type="text" name="id">
 </td>
<tr>
  <td valign="top">
    <label for="password">Password </label>
  </td>
  <td>
    <input type="password" name="password">
  </td>
</tr>
<tr>
  <td>
  </td>
  <td>
    <div id="message"></div>
  </td>
</tr>
<br>
<tr>
  <td></td>
  <td>
    <button ng-click="login">Login</button>
  </td>
</tr>
</form>